* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* common */
.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #fff5e2;
}

.container {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

header {
    height: 150px;
    width: 100%;
    background-color: #fdbb40;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: calc(100vh - 250px);
    width: 100%;
    background-color: #fff;
    padding: 50px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #d33359;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    padding: 50px;
    font-weight: 700;
}
/* fine common */

/* header */
header h1 {
    padding-left: 50px;
    font-size: 40px;
}

.burger {
    width: 200px;
    height: 200px;
}

.burger img {
    margin-left: 20px;
}

/* fine header */

/* main */
#burgerName {
    border: none;
    font-size: 30px;
}

#burgerName:focus {
    outline: none;
}

main p {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.ingredienti {
    display: flex;
}

.items {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.items img {
    width: 50px;
}

.items span {
    margin: 0 15px;
    font-weight: 400;
}

.items .ingrediente {
    position: relative;
    appearance: none;
    background-color: #d33359;
    width: 15px;
    height: 15px;
}

.items .ingrediente:checked::after {
    position: absolute;
    top: -5px;
    left: -2px;
    font-size: 20px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: '\f00c';
}

.items span:last-child {
    color: #d33359;
}

.col-dx {
    margin-left: 100px;
}

.sconto {
    margin-top: 40px;
}

.sconto input {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff5e2;
    padding: 5px;
    width: 70%;
}

.btn-sconto {
    text-align: center;
    margin-top: 20px;
}

.btn-sconto button {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: #fdbb40;
    font-weight: bold;
    font-size: 20px;
}
/* fine main */

/* footer */
/* fine footer */

